
body {
    padding-top: 90px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}
table, th, td {
    border: 1px solid green;
    padding: 5px;
}
footer {
    margin: 50px 0;
}

.bottom-one {
     margin-bottom: 3cm;
  }
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor:pointer;
    color: green;
}

.buttonlink {
            display: inline-block;
            border-style: solid;
            border-color: #bbb #888 #666 #aaa;
            border-width: 3px 4px 4px 3px;
            width: 9em;
            height: 2em;
            background-color: 	#FAEBD7;
            line-height: 2;
            text-align: center;
            text-decoration: none;
            font-weight: 900;
            cursor:pointer;
        }

.pw {
                font-family: monospace;
                font-size: 140%;
                font-weight: bold;
            }

.randomLetter {
            display: inline-block;
            border-style: solid;
            border-color: #bbb #888 #666 #aaa;
            border-width: 2px 3px 3px 2px;
            width: 8em;
            height: 1.5 em;
            background-color: #FFFFF0;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            font-weight: 200;
            cursor:pointer;
            font-family: "Times New Roman", Times, serif;
            font-style: italic;
        }
        
        
 .randomLetter:hover {
            border-color: #666 #aaa #bbb #888;
            border-width: 4px 3px 3px 4px;
            color: #000;
        }



