
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}
table, th, td {
    border: 1px solid green;
    padding: 5px;
}
footer {
    margin: 50px 0;
}

.bottom-one {
     margin-bottom: 3cm;
  }
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor:pointer;
    color: green;
}


